<!DOCTYPE html>
<html lang="fr">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Application -->
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/fonts.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/variables.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/components/styles.css">
    <link rel="stylesheet" type="text/css" href="{{PARENT_URL}}/styles.css" />
    <!-- For example page -->
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/le-monde/styles/fonts_last.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/le-monde/styles/icons.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/le-monde/styles/multimedia.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/le-monde/styles/snippets.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/le-monde/styles/swg-button.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/le-monde/styles/header-footer.css">
  </head>

  <body style="max-width: 600px">

    <figure class="lmv-component lmv-sensitive-image-toggler article__media image-container node_image">
      <span
        class="lmv-sensitive-image-toggler__config"
        style="opacity: 0; visibility: collapse; display: none;">{
        
        "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png",
        "placeholder_image_url": "",
        "placeholder_text": "Attention, images violentes.",
        "placeholder_button_text_show": "Afficher",
        "placeholder_button_text_hide": "Masquer",
        "image_legend": "La légende de l'image",
        "image_credits": "© Crédits"
      
      }</span>
      <span class="lmv-sensitive-image-toggler__image-and-placeholder image">
        <img class="lmv-sensitive-image-toggler__image" loading="lazy" src="" />
        <span class="lmv-sensitive-image-toggler__placeholder"></span>
        <span class="lmv-sensitive-image-toggler__placeholder-content">
          <p class="lmv-sensitive-image-toggler__text"></p>
          <button class="lmv-sensitive-image-toggler__show-button"></button>
        </span>
      </span>
      <button class="lmv-sensitive-image-toggler__hide-button"></button>
    </figure>

    <script defer type="text/javascript" src="{{ROOT_URL}}/components/index.js"></script>
    <script defer type="text/javascript" src="{{PARENT_URL}}/index.js"></script>
  </body>

</html>
