.lmv-component {
  font-family: initial;
  font-size: var(--l-rem);
  line-height: 1.25;
  color: initial;
  position: relative;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  a {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: unset;
    border: none !important;
  }

  .lmv-component__props {
    display: none;
  }
}
