<!DOCTYPE html>
<html lang="fr">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Application -->
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/fonts.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/variables.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/components/styles.css">
    <link rel="stylesheet" type="text/css" href="{{PARENT_URL}}/styles.css" />
    <!-- For example page -->
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/le-monde/fonts_last.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/le-monde/icons.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/le-monde/multimedia.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/le-monde/snippets.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/le-monde/swg-button.css">
    <link rel="stylesheet" type="text/css" href="{{ROOT_URL}}/styles/le-monde/header-footer.css">
  </head>

  <body style="max-width: 600px">

    <div style="height: 15vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="poster_url">https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png</data>
        <data title="title"></data>
        <data title="kicker"></data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>

        <data title="loop" data-lmv-datatype="boolean">non</data>
        <data title="autoplay" data-lmv-datatype="boolean">oui</data>
        <data title="sound" data-lmv-datatype="boolean">non</data>
        
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">oui</data>
        <data title="time_controls" data-lmv-datatype="boolean">oui</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">non</data>
        
        <data title="sensitive_content" data-lmv-datatype="boolean">non</data>
        <data title="disclaimer_text">Attention mon gaté, c'est violent là.</data>
        <data title="disclaimer_button">Vas-y gros montre les images</data>
      </div>
    </div>

    <div style="height: 20vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>

        <data title="loop" data-lmv-datatype="boolean">oui</data>
        <data title="autoplay" data-lmv-datatype="boolean">non</data>
        <data title="sound" data-lmv-datatype="boolean">oui</data>
        
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">oui</data>
        <data title="time_controls" data-lmv-datatype="boolean">non</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">non</data>
        
        <data title="sensitive_content" data-lmv-datatype="boolean">non</data>
        <data title="disclaimer_text"></data>
        <data title="disclaimer_button"></data>
      </div>
    </div>

    <div style="height: 30vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>

        <data title="loop" data-lmv-datatype="boolean">oui</data>
        <data title="autoplay" data-lmv-datatype="boolean">oui</data>
        <data title="sound" data-lmv-datatype="boolean">non</data>
        
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">oui</data>
        <data title="time_controls" data-lmv-datatype="boolean">non</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">non</data>
        
        <data title="sensitive_content" data-lmv-datatype="boolean">non</data>
        <data title="disclaimer_text"></data>
        <data title="disclaimer_button"></data>
      </div>
    </div>

    <div style="height: 30vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>

        <data title="loop" data-lmv-datatype="boolean">oui</data>
        <data title="autoplay" data-lmv-datatype="boolean">oui</data>
        <data title="sound" data-lmv-datatype="boolean">oui</data>
        
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">oui</data>
        <data title="time_controls" data-lmv-datatype="boolean">non</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">non</data>
        
        <data title="sensitive_content" data-lmv-datatype="boolean">non</data>
        <data title="disclaimer_text"></data>
        <data title="disclaimer_button"></data>
      </div>
    </div>

    <div style="height: 30vh;"></div>

    <!-- <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">non</data>
        <data title="time_controls" data-lmv-datatype="boolean">oui</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">non</data>
      </div>
    </div>

    <div style="height: 15vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">non</data>
        <data title="time_controls" data-lmv-datatype="boolean">non</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">oui</data>
      </div>
    </div>

    <div style="height: 15vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">oui</data>
        <data title="time_controls" data-lmv-datatype="boolean">non</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">oui</data>
      </div>
    </div>

    <div style="height: 15vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">oui</data>
        <data title="time_controls" data-lmv-datatype="boolean">oui</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">oui</data>
      </div>
    </div>

    <div style="height: 15vh;"></div>








    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
        <data title="play_controls" data-lmv-datatype="boolean">oui</data>
        <data title="time_controls" data-lmv-datatype="boolean">non</data>
        <data title="fullscreen_controls" data-lmv-datatype="boolean">non</data>
      </div>
    </div>

    <div style="height: 15vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
      </div>
    </div>

    <div style="height: 15vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound" data-lmv-datatype="boolean">oui</data>
        <data title="sound_controls" data-lmv-datatype="boolean">non</data>
      </div>
    </div>

    <div style="height: 15vh;"></div>

    <div class="lmv-component lmv-video">
      <div class="lmv-component__props" style="display: none;">
        <data title="source">https://ex1.o7planning.com/html/resources/mov_bbb.mp4</data>
        <data title="title">Un titre</data>
        <data title="kicker">Un sous-titre</data>
        <data title="legend">Une légende</data>
        <data title="credits">Un crédit</data>
        <data title="sound" data-lmv-datatype="boolean">non</data>
        <data title="sound_controls" data-lmv-datatype="boolean">oui</data>
      </div>
    </div> -->

    <script defer type="text/javascript" src="{{ROOT_URL}}/components/index.js"></script>
    <script defer type="text/javascript" src="{{PARENT_URL}}/index.js"></script>
  </body>

</html>
