/* * * * * * * * * * * * * * *
 *
 * EUCLID FLEX
 *
 * * * * * * * * * * * * * * */

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-Thin-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: italic;
  font-weight: 100;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-ThinItalic-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-Ultralight-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: italic;
  font-weight: 200;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-UltralightItalic-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-Light-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-LightItalic-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-Regular-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-RegularItalic-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-Medium-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-MediumItalic-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-Semibold-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-SemiboldItalic-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-Bold-WebS.woff2);
}

@font-face {
  font-family: "Euclid-Flex";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url({{ROOT_URL}}/fonts/euclid-flex/EuclidFlex-BoldItalic-WebS.woff2);
}

/* * * * * * * * * * * * * * *
 *
 * SANG BLEU OG SANS
 *
 * * * * * * * * * * * * * * */

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Hairline-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Hairline-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 100;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-HairlineItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-HairlineItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Light-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Light-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-LightItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-LightItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Regular-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Regular-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-RegularItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-RegularItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Medium-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Medium-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-MediumItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-MediumItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Bold-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Bold-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-BoldItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-BoldItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Black-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-Black-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-BlackItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-sans/SangBleuOGSans-BlackItalic-WebS.woff2);
}

/* * * * * * * * * * * * * * *
 *
 * SANG BLEU OG SERIF
 *
 * * * * * * * * * * * * * * */

 @font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Hairline-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Hairline-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 100;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-HairlineItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-HairlineItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Light-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Light-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-LightItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-LightItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Regular-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Regular-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-RegularItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-RegularItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Medium-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Medium-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-MediumItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-MediumItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Bold-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Bold-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-BoldItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-BoldItalic-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Black-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-Black-WebS.woff2);
}

@font-face {
  font-family: "Sang-Bleu-OG-Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 900;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-BlackItalic-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-serif/SangBleuOGSerif-BlackItalic-WebS.woff2);
}

/* * * * * * * * * * * * * * *
 *
 * SANG BLEU OG CONDENSED
 *
 * * * * * * * * * * * * * * */

 @font-face {
  font-family: "Sang-Bleu-OG-Condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src:
    url({{ROOT_URL}}/fonts/sang-bleu-og-condensed/SangBleuOGCondensed-Hairline-WebS.woff),
    url({{ROOT_URL}}/fonts/sang-bleu-og-condensed/SangBleuOGCondensed-Hairline-WebS.woff2);
}

/* * * * * * * * * * * * * * *
 *
 * PIXELOID SANS
 *
 * * * * * * * * * * * * * * */

 @font-face {
  font-family: "Pixeloid-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url({{ROOT_URL}}/fonts/pixeloid-sans/PixeloidSans.woff),
    url({{ROOT_URL}}/fonts/pixeloid-sans/PixeloidSans.woff2);
}

@font-face {
  font-family: "Pixeloid-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url({{ROOT_URL}}/fonts/pixeloid-sans/PixeloidSans-Bold.woff),
    url({{ROOT_URL}}/fonts/pixeloid-sans/PixeloidSans-Bold.woff2);
}

/* * * * * * * * * * * * * * *
 *
 * PIXELOID MONO
 *
 * * * * * * * * * * * * * * */

 @font-face {
  font-family: "Pixeloid-Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url({{ROOT_URL}}/fonts/pixeloid-mono/PixeloidMono.woff),
    url({{ROOT_URL}}/fonts/pixeloid-mono/PixeloidMono.woff2);
}

/* * * * * * * * * * * * * * *
 *
 * GIORGIO
 *
 * * * * * * * * * * * * * * */

/* Light */
@font-face {
  font-family: "Giorgio-Sans";
  src:
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Light-Web.woff2) format("woff2"),
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Light-Web.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

/* Regular */
@font-face {
  font-family: "Giorgio-Sans";
  src:
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Regular-Web.woff2) format("woff2"),
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

/* Bold */
@font-face {
  font-family: "Giorgio-Sans";
  src:
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Bold-Web.woff2) format("woff2"),
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Bold-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

/* Black */
@font-face {
  font-family: "Giorgio-Sans";
  src:
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Black-Web.woff2) format("woff2"),
    url({{ROOT_URL}}/fonts/giorgio-sans/GiorgioSans-Black-Web.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}