.lm-app,
.lmv-component,
.lmh-component,
.lm-page {
  --ff-euclid-flex:                 "Euclid-Flex", Helvetica, Arial, Roboto, sans-serif;
  --ff-sang-bleu-og-sans:           "Sang-Bleu-OG-Sans", Garamond, Times, serif;
  --ff-sang-bleu-og-serif:          "Sang-Bleu-OG-Serif", Garamond, Times, serif;
  --ff-sang-bleu-og-condensed:      "Sang-Bleu-OG-Condensed", Garamond, Times, serif;
  --ff-pixeloid-sans:               "Pixeloid-Sans", Helvetica, Arial, Roboto, sans-serif;;
  --ff-pixeloid-mono:               "Pixeloid-Mono", monospace;
  --ff-giorgio-sans:                "Giorgio-Sans", Helvetica, Arial, Roboto, sans-serif;
}
